*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Work Sans', sans-serif;
}
li{
    list-style: none;
}

/****************************
    Header Section CSS
*****************************/
header{
	width: 100%;
    position: absolute;
    z-index: 3
}

/******Menu*****/
.navbar-light .navbar-nav .nav-link {
    color: white !important;
    font-size: 18px;
    padding-right: 1.5rem;
    padding-left: 1rem;
}
.m-auto {
    margin: 0px !important;
}
.navbar-collapse {
    flex-grow: 0;
    align-items: center;
}
.container-fluid{
    justify-content: start !important;
}
.navbar-brand {
    margin-right: 5.2rem !important;
}
.img-fluid {
    margin-left: 20px;
}
.navbar-expand-lg .navbar-collapse {
    line-height: 98px;
}
.navbar-expand-lg {
    padding: 0px !important;
}
.nav-link{
    font-size: 18px;
    color: white;
    line-height: 98px;
}
.nav-item .dropdown:hover .dropdown-menu {
    display: block;
}
/****Button****/
.header-button button{
    margin-left: 27pc;
    height: 45px;
    width: 150px;
    font-size: 18px;
    background-color: transparent;
    color: white;
    border: 2px solid white !important;
    border-radius: 3px;
}
.header-button button:hover{
    background-color: #6278DF;
    border: none !important;
    height: 44px;
    width: 149px;
}
.nav-item .R:hover {
    color: #0d6efd !important;
}
.R:hover + .X {
 display: inline-block; 
}
.dropdown-divider{

}
.navbar-expand-lg .navbar-collapse {
    line-height: 30px !important;
}
.X li{
        width: 220px;
}
/****************************
    Banner Section CSS
*****************************/
.banner{
    width: 100%;
    height:116vh;
    background-image: url(../img/banner-bg.png);
    z-index: 2;
    position: relative;
}
.overlay{
    background: rgb(36 42 50 / 95%);
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    position: absolute;
}
.banner-up{
    text-align: center;
    padding-top: 13pc;
}
.banner-up h1{
    z-index: 999;
    color: #bdc0ce;
    font-size: 26px;
    font-weight: 300;
    margin: 0px;
    word-spacing: 1px;
}
.banner-up p{
    z-index: 9999;
    color: white;
    font-weight: 500;
    font-size: 49px;
    padding: 15px 100px;
    line-height: 57px;
}
.banner-up span{
    color: rgb(160, 68, 255);
    font-weight: 600;
}
/****Countdown-start*****/
$font: 'Work Sans', sans-serif;
$big: 'Work Sans', sans-serif;
.days, .hours, .minutes, .seconds {
  display: inline-block;
  padding: 20px;
  width: 100px;
  border-radius: 5px;
}
.numbers {
    font-family: $big;
    color: $dark;
    font-size: 18px;
}
.countdown{
    display: flex;
    justify-content: center;
}
.same{
    height: 97px;
    width: 100px;
    background-color: #1D2228;
    margin-right: 18px;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    color: #808388;
    font-weight: 400;
}
.numbers{
    font-size: 33px;
    color: white;
    margin-top: 7px;
}

.banner-down{
    margin-top: -260px;
    position: absolute;
    z-index: 99944;
}
.img-fluid {
    margin-left: 17%;
}
/****************************
    Features Section CSS
*****************************/
.features{
    width: 100%;
    background-image: linear-gradient(#FFFFFF, #F6F8FD);
    z-index: -99999;
}
.features-up button{
    padding: 18px 105px;
    font-size: 21px;
    font-weight: 600;
    color: white;
    background: rgb(98,120,223);
    border: none;
    border-radius: 4px;
    margin-left: 30%;
    margin-top: 15%;
    z-index: 999999;
}
.features-up button:hover{
    background-color: black;
    transition: 0.5s;
}
.features-up h1{
    text-align: center;
    font-weight: inherit;
    margin-top: 125px;
    margin-bottom: 25px;
}
.features-up p{
    text-align: center;
    font-size: 25px;
    padding: 0px 120px;
    color: #b5b5b5;
    font-weight: 300;
    margin-bottom: 120px;
}
.features-down{
    display: flex;
    padding: 70px 0px;
}
.features-demo1{
    flex-basis: 25%;
    margin-left: 17%;
}
.features-demo2{
    flex-basis: 25%;
}
.features-demo3{
    flex-basis: 33%;
}
.edit{
    margin-bottom: 1rem;
}
.P{
    font-size: 18px;
    font-weight: 500;
  
}
.R{
    margin-right: 10px;
}
.E{
    height: 18px;
    width: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    font-size: 17px;
    border: 1px solid #0d6efd;
    font-weight: 400;
}
.T{
    font-size: 17px;
    color: black;
    font-weight: 300;
}

/****************************
    About Section CSS
*****************************/
.about{
    width: 100%;
}
.about-easy{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px;
}
.about-easy h1{
    font-family: "Work Sans";
    font-size: 38px;
    line-height: 1.3;
    font-weight: 400;
    color: #1f2233;
    margin-bottom: 1.5rem;
}
.about-easy p{
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    line-height: 34px;
    color: #717794;
    padding: 0px 120px;
    margin-bottom: 3.3rem;
}
.btn{
    height: 50%;
    padding: 0px;
}
.btn ul{
    display: flex;
    justify-content: space-around;
    padding: 0px;
}
.btn ul li{
    font-size: 18px;
    color: #1f2233;
    font-weight: 600;
    line-height: 60px;
    padding: 0 60px;
    background-color: #fff;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 10%);
}
.tab-1{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #6278df;
    color: #fff;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 30%);
}
.sample-1{
    height: 345px;
    width: 328px;
    position: relative;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 15%);
    margin-bottom: 2rem;
}
.sample-1 img{
    margin-left: 0px;
}
.sample-1 h1{
    line-height: 1.55;
    color: #1f2233;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    left: 50px;
    top: 35px;
}
.about-hard{
    display: flex;
    margin-left: 3%;
    margin-bottom: 100px;
}
.about-hard-1{
    flex-basis: 33%;
}
.about-hard-2{
    flex-basis: 33%;
    margin-left: 7px;
}
.about-hard-3{
    flex-basis: 33%;
    margin-left: 7px;
}
.tab-1:hover{
    background-color: #6872DF;
    color: white;
}
.tab-2:hover{
    background-color: #6872DF;
    color: white;
}
.tab-3:hover{
    background-color: #6872DF;
    color: white;
}
.tab-4:hover{
    background-color: #6872DF;
    color: white;
}
.tab-5:hover{
    background-color: #6872DF;
    color: white;
}
.tab-5{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/****************************
    Library Section CSS
*****************************/
.library{
    width: 100%;
    background-color: #212121;
    padding-top: 100px;
    padding-bottom: 100px;
}
.library-detail{
    text-align: center;
}
.library-detail h1{
    color: white;
    font-size: 38px;
    line-height: 1.3;
    font-weight: 400;
}
.library-detail p{
    color: #899089;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    line-height: 34px;
    padding: 20px 50px;
}
.all{
    background-color: transparent;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    border: 1px solid #6278df;
    border-radius: 4px;
    padding: 0 20px;
    margin: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.poke{
    margin-bottom: 50px;
}
.library-photos{
    display: flex;
}
.photos-jpg img{
    border: 0;
    height: auto;
    max-width: 100%;
    width: auto;
    vertical-align: middle;
    margin: 5px;
}
.photos-jpgs1{
    margin-right: 5px;
}
.photos-jpgs2{
    margin: 0px 5px;
}
.photos-jpgs3{
    margin: 0px 5px;
}
.photos-jpgs4{
    margin: 0px 5px;
}
.photos-jpgs5{
    margin: 0px 5px;
}

/****************************
    Marketing Section CSS
*****************************/

.marketing{
   padding: 120px 0px 70px 0px;
}
.marketing-up{
   align-items: center;
}
.up-left{
    padding: 0;
}
.up-left img{
    max-width: 385px;
    margin-left: 100px;
}
.up-right{
    padding: 15px;
}
.up-right h1{
    font-size: 38px;
    line-height: 1.3;
    font-weight: 400;
    color: #1f2233;
    text-align: left;
    padding-right: 130px;
    padding-bottom: 30px;
    margin: 0;
}
.up-right p{
    font-size: 26px;
    font-weight: 300;
    text-align: left;
    line-height: 35px;
    color: #717794;
    padding-right: 45px;
}
.marketing-down{
   align-items: center;
   padding-top: 80px;
}
.down-left{
    padding-left: 30px;

}
.down-right img{
    max-width: 495px !important;
}
.down-right{
    padding: 15px;
}
.down-left h1{
    font-size: 38px;
    line-height: 1.3;
    font-weight: 400;
    color: #1f2233;
    text-align: left;
    padding-right: 190px;
    padding-bottom: 30px;
}
.down-left p{
    font-size: 26px;
    font-weight: 300;
    text-align: left;
    line-height: 35px;
    color: #717794;
    padding-right: 45px;
}

.elements{
    width: 100%;
    height: 100vh;
    background-color: #212121;
    padding: 140px 0px;
}
.etc{
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    margin-left: 45px !important;
    line-height: 34px !important;
    padding: 8px 50px 20px 0px !important;
    color: rgba(255,255,255,1) !important;
}
.all:hover{
    background-color: #6578DF;
}
/****************************
    Marketing Section CSS
*****************************/

.footer{
    padding: 100px 0px 35px 0px;
}
.footer-text{
    
}
.footer-text h1{
    font-size: 38px;
    line-height: 1.3;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px
}
.footer-text p{
    text-align: center !important;
    font-size: 26px;
    font-weight: 300;
    text-align: left;
    line-height: 35px;
    color: #717794;
    padding: 0px 120px;
        margin-bottom: 60px;
}
.footer-content{
    display: flex;
    justify-content: space-evenly;
}
.footer-content1{

}
.parallax1{
    height: 185px;
    border-radius: 5px;
    width: 325px;
    position: relative;
    border: 1px solid #bdbdbd;
    margin-bottom: 30px;
}
.parallax1 h1{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.375;
    color: #444;
    padding-top: 50px;
    padding-left: 55px;
    padding-bottom: 15px;
}
.parallax1 i{
    margin-right: 7px;
        color: rgba(102, 102, 102, 0.5);
}
.parallax1 span{
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle;
    margin-bottom: 1px;
    padding-left: 55px;
        color: rgba(102, 102, 102, 0.5);
}
.parallax1 a{
    padding: 3px 162px 182px;
    position: absolute;
}
.parallax1:hover{
    background-color: #7182E2;
    border: none;
}
.parallax1:hover h1{
    color: white;
}
.parallax1:hover span{
    color: white;
}
.parallax1:hover i{
    color: white;
}